@tailwind base;
@tailwind components;
@tailwind utilities;
/* You can keep your custom styles after Tailwind layers if needed */
/* body {
background-color: #000 !important;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
} */
